body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.fa {
    font-size: 40px;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0.9;
   
    height: 100%;
  
}




video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 4px 13px 0px #c5c5c5;
}



.main {
    height: 100vh;
    display: flex;
    

    
}

.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    
}

.main__right {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f9;
    border-radius: 10px;
    
    margin: 20px;
}

@media (max-width: 788px) {
    
    .main__right {
        display: none;
    }

    .main__left {
        flex: 1;
    }
    
    video {
        
        height: 190px;
        width: 80%;
        display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
    }
}


.main__videos {
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-y: auto;
    
}

.main__controls {
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #f0f4f9;
    color: rgb(99, 99, 99);
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    height: 140px;
    
}






.main__controls__block  {
    display: flex;
    
   
}

.main__controls__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        min-width: 80px;
        cursor: pointer;
        transition: all .2s ease-in-out;

}

.main__controls__button:hover {
    transform: scale(1.13);
}

.main__controls__button > .fas {
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 999px;
    box-shadow: 0px 4px 13px 0px #c5c5c5;
    cursor: pointer;
}

.main__controls__button > span {
    margin-top: 20px;
    font-size: small;

}

.main__header {
    position: relative;
    padding-top: 5px;
    color: black;
    text-align: left;
    margin-left: 30px;
    
    
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    
}

.main__chat_window > ul > li {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    font-size: small;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: rgb(99, 99, 99);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
.main__chat_window > ul > span {
    font-weight: bold;
    color: black;
}

.messages {
    color: rgb(99, 99, 99);
    list-style: none;
    padding-left: 20px;
}

.unmute {
    color: red;
}

.stop {
    color: red;
}

.chat_close {
    color: cornflowerblue;
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 30px;
}

.remove {
    display: none;
}

.flex_one {
    flex: 1;
}

.chat_close:hover,
.chat_close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;

}



@media (max-width: 388px) {


    

    .main__controls {
    
        width: 100vw;

        border-radius: unset;
        overflow-x: hidden;
    margin: unset;
    padding: unset;
    background-color: #f0f4f9;
    color: rgb(99, 99, 99);
    
    justify-content: center;
    
    }

   

    .main__controls__block:nth-child(2) {
        display: none;
    }

    .main__controls__block:nth-child(4) {
        display: none;
    }

    .leaveBtn {
        display: none!important;
    }
   

   .main__videos {
       display: block;
       padding: unset;
   }

   .main__right {
    border-radius: unset;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: unset;
   }



    video {
        width: 90%;
    }

}


