body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.fa {
    font-size: 40px;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.main {
    height: 100vh;
    display: flex;
    

    
}

.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    
}

.main__right {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    background-color: #f0f4f9;
    border-radius: 10px;
    margin: 20px;
}

.main__videos {
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    margin: 20px;
    background-color: #f0f4f9;
    color: rgb(99, 99, 99);
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    height: 140px;
    
}






.main__controls__block  {
    display: flex;
    
   
}

.main__controls__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        min-width: 80px;
        cursor: pointer;
        transition: all .2s ease-in-out;

}

.main__controls__button:hover {
    transform: scale(1.13);
}

.main__controls__button > .fas {
    font-size: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 999px;
    box-shadow: 0px 4px 13px 0px #c5c5c5;
}

.main__controls__button > span {
    margin-top: 20px;
    font-size: small;
}

.main__header {
    padding-top: 5px;
    color: black;
    text-align: center;
    
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}
